* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
  padding: 20px;
}

/* Container principal */
.person-container {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Cabeçalho */
.person-container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4511e;
  color: white;
  padding: 15px 20px;
  justify-content: center; /* centraliza */
  width: 100%;          /* garante largura total */
  box-sizing: border-box; /* conta padding na largura */
}


.person-container header h1 {
  text-align: center;
  width: 100%;
}

/* Corpo */
.person-container main {
  padding: 30px;
  border-radius: 8px;
  overflow-x: auto;  /* scroll horizontal se precisar */
}

/* Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto; /* deixa colunas ajustarem tamanho */

}

.table-container {
  max-height: 400px; /* altura máxima */
  overflow-y: auto;
}

.table-buttons {
  white-space: nowrap;
  width: 1%;
}

/* Mensagem de erro */
.invalid-feedback.custom-feedback {
  font-size: 0.75rem;
  color: #dc3545; /* mantém o vermelho do bootstrap */
}